#wrap{
    display: flex;
    flex-direction: column;
}
input{
    width: 4rem;
    height: 1rem;
}
table{
    width: 350px;
}
td {
    text-align: right;
    
}
#variant{
    width: 500px;
    text-align: center;
    border: 1px solid rgb(27, 26, 26);
}